<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism"/>
  </configSections>
  <modules>
    <module assemblyFile="Modules/SolutionChecker.dll"
	moduleType="SolutionChecker.SolutionCheckerModule, 
	SolutionChecker" moduleName="SolutionCheckerModule"/>
    <module assemblyFile="Modules/ManageRule.dll"
	moduleType="ManageRule.ManageRuleModule, 
	ManageRule" moduleName="ManageRuleModule"/>
    <module assemblyFile="Modules/ManageTemplate.dll"
	moduleType="ManageTemplate.ManageTemplateModule, 
	ManageTemplate" moduleName="ManageTemplateModule"/>
    <!--<module assemblyFile="Modules/Options.dll"
	moduleType="Options.OptionsModule, 
	Options" moduleName="OptionsModule"/>-->
  </modules>
</configuration>