<?xml version="1.0" encoding="UTF-8"?>

<!-- This is application version number, update for each release -->
<?define ProductName="SolutionTool" ?>
<?define Manufacturer="SolutionTool" ?>
<?define Version="!(bind.FileVersion.SolutionTool.exe)" ?>
<?define UpgradeCode="{12A60B63-5050-4AFB-AA8C-48161ED68639}" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Language="1033" Name="$(var.ProductName) v$(var.Version)" Version="$(var.Version)"
    Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" InstallPrivileges="elevated" InstallScope="perMachine" />

    <Media Id="1" Cabinet="data.cab" EmbedCab="yes" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />

    <PropertyRef Id="NETFRAMEWORK40FULL" />

    <!--<UIRef Id="WixUI_InstallDir" />-->

    <!--<Icon Id="SolutionTool.ico" SourceFile="$(var.SolutionTool.TargetDir)\SolutionTool.ico" />-->

    <MajorUpgrade AllowSameVersionUpgrades="yes" AllowDowngrades="no"
      DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />

    <Condition Message="This application requires .NET Framework 4.0. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK40FULL]]>
    </Condition>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <!--<Directory Id="ManufacturerFolder" Name="$(var.Manufacturer)">-->
        <Directory Id="INSTALLLOCATION" Name="$(var.ProductName)">
          <Component Id="RootFolder" Guid="{95084731-241A-420A-8207-41DAE6A9B7AE}">
            <!--<CreateFolder Directory="Logs" />-->
            <!--<CreateFolder Directory="Projects" />-->
            <!--<CreateFolder Directory="Reports" />-->
            
            <File Id="CommandLine.dll" Name="CommandLine.dll" Source="$(var.TargetDir)\CommandLine.dll" />
            <File Id="Microsoft.Practices.Prism.dll" Name="Microsoft.Practices.Prism.dll" Source="$(var.TargetDir)\Microsoft.Practices.Prism.dll" />
            <File Id="Microsoft.Practices.Prism.Interactivity.dll" Name="Microsoft.Practices.Prism.Interactivity.dll" Source="$(var.TargetDir)\Microsoft.Practices.Prism.Interactivity.dll" />
            <File Id="Microsoft.Practices.Prism.UnityExtensions.dll" Name="Microsoft.Practices.Prism.UnityExtensions.dll" Source="$(var.TargetDir)\Microsoft.Practices.Prism.UnityExtensions.dll" />
            <File Id="Microsoft.Practices.ServiceLocation.dll" Name="Microsoft.Practices.ServiceLocation.dll" Source="$(var.TargetDir)\Microsoft.Practices.ServiceLocation.dll" />
            <File Id="Microsoft.Practices.Unity.dll" Name="Microsoft.Practices.Unity.dll" Source="$(var.TargetDir)\Microsoft.Practices.Unity.dll" />
            <File Id="SolutionTool.Infrasturcture.dll" Name="SolutionTool.Infrasturcture.dll" Source="$(var.TargetDir)\SolutionTool.Infrasturcture.dll" />
            <File Id="System.Windows.Interactivity.dll" Name="System.Windows.Interactivity.dll" Source="$(var.TargetDir)\System.Windows.Interactivity.dll" />
            <File Id="slntool.exe" Name="slntool.exe" Source="$(var.TargetDir)\slntool.exe" />
            <File Id="SolutionTool.exe" Name="SolutionTool.exe" Source="$(var.TargetDir)\SolutionTool.exe" />
            <File Id="SolutionTool.exe.Config" Name="SolutionTool.exe.Config" Source="$(var.TargetDir)\SolutionTool.exe.Config" />
          </Component>

          <Directory Id="LogsFolder" Name="Logs">
            <!--<Component Id="LogsFolder" Guid="{5BFA9106-EB14-4D08-8AD0-5C388E96A2E8}">
            </Component>-->
          </Directory>

          <Directory Id="ModulesFolder" Name="Modules">
            <Component Id="ModulesFolder" Guid="{4BD8107F-D9AE-46AD-8DD3-6B9361F8397F}">
              <File Id="ManageRule.dll" Name="ManageRule.dll" Source="$(var.TargetDir)\.\Modules\ManageRule.dll" />
              <File Id="ManageTemplate.dll" Name="ManageTemplate.dll" Source="$(var.TargetDir)\.\Modules\ManageTemplate.dll" />
              <File Id="Options.dll" Name="Options.dll" Source="$(var.TargetDir)\.\Modules\Options.dll" />
              <File Id="SolutionChecker.dll" Name="SolutionChecker.dll" Source="$(var.TargetDir)\.\Modules\SolutionChecker.dll" />
            </Component>
          </Directory>

          <!--<Directory Id="ProjectsFolder" Name="Projects">
            <Component Id="ProjectsFolder" Guid="{925C35B6-334F-4AC9-9C18-4DAB4E4B08CF}">
            </Component>
          </Directory>-->

          <!--<Directory Id="ReportsFolder" Name="Reports">
            <Component Id="ReportsFolder" Guid="{A017A18C-3F0F-4827-9D1A-AFF68883C2DF}">
            </Component>
          </Directory>-->

          <Directory Id="RulesFolder" Name="Rules">
            <Component Id="RulesFolder" Guid="{5DE93622-7E9A-468B-8606-9026B655DD9A}">
              <File Id="default.xml" Name="default.xml" Source="$(var.TargetDir)\.\Rules\default.xml" />
            </Component>
          </Directory>

          <Directory Id="TemplatesFolder" Name="Templates">
            <Component Id="TemplatesFolder" Guid="{B184391C-D5B6-49AC-A1FB-0B40A7AB74DA}">
              <File Id="Default.txt" Name="Default.txt" Source="$(var.TargetDir)\.\Templates\Default.txt" />
              <File Id="LogHtml.xslt" Name="LogHtml.xslt" Source="$(var.TargetDir)\.\Templates\LogHtml.xslt" />
              <File Id="RptHtml.xslt" Name="RptHtml.xslt" Source="$(var.TargetDir)\.\Templates\RptHtml.xslt" />
              <File Id="RptTxt.xslt" Name="RptTxt.xslt" Source="$(var.TargetDir)\.\Templates\RptTxt.xslt" />
            </Component>
          </Directory>
        </Directory>
        <!--</Directory>-->
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="MesStartMenuFolder" Name="$(var.Manufacturer)">
          <Component Id="StartMenuFolder" Guid="{B5909AC9-34D2-44B9-A02E-9603798B3DE0}">
            <Shortcut Id="DesktopIcon" Directory="DesktopFolder" Name="$(var.ProductName)"
              WorkingDirectory="INSTALLLOCATION" IconIndex="0" Target="[INSTALLLOCATION]SolutionTool.exe" />
            <Shortcut Id="ApplicationStartMenuShortcut" Name="$(var.ProductName)" Target="[INSTALLLOCATION]Mes.exe"
              WorkingDirectory="INSTALLLOCATION" />
            <Shortcut Id="UninstallProduct" Name="Uninstall $(var.ProductName)" Description="Uninstalls $(var.ProductName)"
              Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />
            <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\$(var.Manufacturer)\$(var.ProductName)"
              Name="InstallLocation" Type="string" Value="[INSTALLLOCATION]" KeyPath="yes"/>
          </Component>
        </Directory>
      </Directory>

      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>

    <Feature Id="ProductFeature" Title="Mes" Level="1">
      <ComponentRef Id="RootFolder" />
      <!--<ComponentRef Id="LogsFolder" />-->
      <ComponentRef Id="ModulesFolder" />
      <!--<ComponentRef Id="ProjectsFolder" />-->
      <!--<ComponentRef Id="ReportsFolder" />-->
      <ComponentRef Id="RulesFolder" />
      <ComponentRef Id="TemplatesFolder" />
      <ComponentRef Id="StartMenuFolder" />
      <!-- Note: The following ComponentGroupRef is required to pull in generated authoring from project references. -->
      <!--<ComponentGroupRef Id="Product.Generated" />-->
    </Feature>
    <UI>
      <UIRef Id="WixUI_InstallDir" />
    </UI>
    <Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="Thank you for installing $(var.Manufacturer) $(var.ProductName) v$(var.Version). " />
  </Product>
</Wix>